# Build artifacts
*.o
*.obj
*.out
*.exe
*.a
*.so
*.dll
*.dSYM/
*.pch

# Dependency/build tools
# /Makefile
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake

# Editor/OS clutter
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/

# Test binaries
/coverage/
/build/
/dist/
/tmp/
/*.log

# project
_resource
minishell